table {
    width: 100%;
    border-collapse: collapse;
  }

  th, td {
    padding: 8px;
    text-align: center;
  }

  th {
    background-color: #000000;
    color: #ffffff;
  }

  tr:nth-child(even) {
    background-color: #f0f0f0;
  }

  tr:nth-child(odd) {
    background-color: #e5e5e5;
  }

  .title {
    width: 500px;
  }

  body {
    background: linear-gradient(to bottom, #e1f5fe, #b3e5fc);
  }